body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1e2f;
    font-family: arial, sans-serif;
}

.calculator{
    background: #2196f3;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
}

#display{
    color: black;
    width: 93%;
    height: 50px;
    margin-bottom: 15px;
    text-align: right;
    font-size: 24px;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button{
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background: #1565c0;
    color: white;
    cursor: pointer;
}

button:hover{
    background: #0d47a1;
}